# BlockFS Configuration
version                   = 0.1

[common]
core_dump                 = true
# UTC / SYSTEM
log_timestamps            = SYSTEM
log_level                 = DEBUG
log_path                  = /data/mysql/log/

[bfs]
device_uuid               = 4ce7cbc8-46df-4afc-90b1-a5f72e4c0cdb
# virtual mysql mount point
uxdb_mount_point          = /mnt/mysql/

[fuse]
# the mount point (local path) for FUSE
# the local path must exist
fuse_mount_point          = /data/mysql/bfs/

# enbale libfuse debug (don't touch)
fuse_debug                = false

# run forefroud in new thread (don't touch)
fuse_foreground           = true

# set the owner (user and group) of new created files and directories
# the values are:
## caller: current user and group from the calling process (default)
## fixed: fixed user and group
fuse_owner_type           = caller

# set the user owner (username) of the new created files and directories
# this parameter is valid only when owner_type set to fixed
# empty for the user who runs the fs_fused program
fuse_uid                  = 1001

# mount.fuse3 options:
#        These options are interpreted by mount.fuse3 and are thus only
#        available when mounting a file system via mount.fuse3 (such as
#        when mounting via the generic mount(1) command or /etc/fstab).
#        Supported options are:
# setuid=USER
#        Switch to USER and its primary group before launching the
#        FUSE file system process. mount.fuse3 must be run as root
#         or with CAP_SETUID and CAP_SETGID for this to work.
fuse_setuid               = mysql

# set the group owner (group name) of the new created files and directories
# this parameter is valid only when owner_type set to fixed
# empty for the group of the user who runs the fs_fused program
fuse_gid                  = 1001

fuse_kernel_cache         = false

# fuse_umask                = 0755

# access permissions for other users
# the values are:
##  all for all users
##  root for root only
##  empty or other values for none
fuse_allow_permission     = allow_all

# auto unmount on process termination
# default value is true
fuse_auto_unmount         = true

# cache time for file attribute in seconds
# default value is 1.0s
fuse_attribute_timeout    = 5.0

# cache time for file entry in seconds
# default value is 1.0s
fuse_entry_timeout        = 5.0
