# BlockFS Configuration
version                   = 0.1

[common]
core_dump                 = true
# UTC / SYSTEM
log_timestamps            = SYSTEM
log_level                 = DEBUG
log_path                  = /data/mysql/log/
# 不知道干啥用的，原先配置是false，文档中是true
agent_enable              = true
# agent_server            = 127.0.0.1:8888
agent_server              = /data/mysql/bfs.sock

[bfs]
device_uuid               = 875b1185-f962-4156-9272-4172b90c41c4
# virtual mysql mount point
uxdb_mount_point          = /mnt/mysql/
time_update_meta          = 3600

[fuse]
fuse_enable               = true

# the mount point (local path) for FUSE
# the local path must exist
fuse_mount_point          = /home/ubuntu/bfs/

# enbale libfuse debug (don't touch)
fuse_debug                = false

# run forefroud in new thread (don't touch)
fuse_foreground           = true

# new thread when enbaled in mysql (don't touch)
fuse_new_thread           = true

# set the owner (user and group) of new created files and directories
# the values are:
## caller: current user and group from the calling process (default)
## fixed: fixed user and group
fuse_owner_type           = caller

# set the user owner (username) of the new created files and directories
# this parameter is valid only when owner_type set to fixed
# empty for the user who runs the fs_fused program
fuse_uid                  = 1001

# mount.fuse3 options:
#        These options are interpreted by mount.fuse3 and are thus only
#        available when mounting a file system via mount.fuse3 (such as
#        when mounting via the generic mount(1) command or /etc/fstab).
#        Supported options are:
# setuid=USER
#        Switch to USER and its primary group before launching the
#        FUSE file system process. mount.fuse3 must be run as root
#         or with CAP_SETUID and CAP_SETGID for this to work.
fuse_setuid               = mysql

# set the group owner (group name) of the new created files and directories
# this parameter is valid only when owner_type set to fixed
# empty for the group of the user who runs the fs_fused program
fuse_gid                  = 1001

# if use separate fuse device fd for each thread
# set to true for more high performance
# default value is false
fuse_clone_fd             = true

fuse_kernel_cache         = false

fuse_auto_cache           = false

# fuse_umask                = 0755

# access permissions for other users
# the values are:
##  all for all users
##  root for root only
##  empty or other values for none
fuse_allow_permission     = allow_all

# auto unmount on process termination
# default value is true
fuse_auto_unmount         = true

# cache time for file attribute in seconds
# default value is 1.0s
fuse_attribute_timeout    = 5.0

fuse_ac_attr_timeout      = 0.0

fuse_noforget             = false

fuse_remember             = 0.0

# cache time for file entry in seconds
# default value is 1.0s
fuse_entry_timeout        = 5.0

fuse_negative_timeout     = 0.0
