[common]
core_dump                 = true
log_level                 = DEBUG
log_path                  = /var/log/bfs/

[bfs]
device_uuid               = fc80a231-52f0-408d-aa15-18867b2307d8
# virtual mysql mount point
uxdb_mount_point          = /mnt/mysql/

[fuse]
# the mount point (local path) for FUSE
# the local path must exist
fuse_mount_point          = /data/mysql/bfs/

# enbale libfuse debug
fuse_debug                = true

# run forefroud in new thread (don't touch)
fuse_foreground           = true

# set the owner (user and group) of new created files and directories
# the values are:
## caller: current user and group from the calling process (default)
## fixed: fixed user and group
fuse_owner_type           = caller

fuse_kernel_cache         = false

# access permissions for other users
# the values are:
##  all for all users
##  root for root only
##  empty or other values for none
fuse_allow_permission     = allow_all

# auto unmount on process termination
# default value is true
fuse_auto_unmount         = true

# cache time for file attribute in seconds
# default value is 1.0s
fuse_attribute_timeout    = 5.0

# cache time for file entry in seconds
# default value is 1.0s
fuse_entry_timeout        = 5.0
